<template>

  <div>
    <h1 class="text-3xl font-bold"> 수강생 상세정보</h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex justify-center m-1 p-1.5 ">

    <div class="w-full  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
      <div class="flex items-center justify-between mb-3">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">수강생 상세정보</h5>
      </div>
      <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
            <div class="flex items-center">


              <div class="flex-1 min-w-0 ms-4">
                <p class="text-sm font-medium text-gray-900 truncate dark:text-white">

                </p>
                <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                </p>
              </div>
              </div>

          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    이미지
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    학생명
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    성별
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    생년월일
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    핸드폰 번호
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    주민번호
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    주소
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    이메일
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    최종학력
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center">
              <div class="flex-shrink-0"></div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    전공
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    상태
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    상태변경일
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="py-3 sm:py-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    상태변경사유
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>

            </div>
          </li>
          <li class="pt-3 pb-0 sm:pt-4">
            <div class="flex items-center ">
              <div class="flex-shrink-0">

              </div>
              <div v-if="studentDetail">
                <div class="flex-1 min-w-0 ms-4">
                  <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                    가입일
                  </p>
                  <p class="text-sm text-gray-500 truncate dark:text-gray-400">

                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
  </div>
</template>




<style scoped>

</style>
<script lang="ts" setup>

import {useStudentStore} from "~/stores/student";
import {storeToRefs} from "pinia";
const store = useStudentStore();
const {getDetailList} = store;
const {studentDetail} = storeToRefs(store);



await getDetailList('${id}').then(() => {
  console.log("성공")
  console.log(studentDetail,1)
}).catch(() => {
  console.log("실패")
  console.log(studentDetail,1)
});



</script>
