<!--여기다 get 연동 ...! 훈련생 현황 ,,-->
<template>
  <h2 class="text-2xl font-bold">훈련생 현황</h2>
  <hr class="my-2 border dark:border-gray-700" />
  <el-table :data="tableData" style="width: 100%">
    <el-table-column prop="imgSrc" label="이미지" width="180"></el-table-column>
    <el-table-column prop="studentName" label="학생 이름" width="180"></el-table-column>
    <el-table-column prop="subjectId" label="과목id" width="180"></el-table-column>
    <el-table-column prop="phoneNumber" label="전화번호" width="180"></el-table-column>
    <el-table-column prop="gender" label="성별"></el-table-column>
    <el-table-column prop="dateBirth" label="주민등록번호"></el-table-column>
    <el-table-column prop="studentStatus" label="상태"></el-table-column>
    <el-table-column prop="dateStatusChange" label="상태변경"></el-table-column>
    <el-table-column prop="statusWhy" label="상태변경사유"></el-table-column>
    <el-table-column fixed="right" label="Operations" width="120">
      <template #default ="scope">
        <el-button link type="primary" size="small" @click="getDetail(scope.row.id)" >
          상세보기
        </el-button>
      </template>
    </el-table-column>
  </el-table>

<!--    <div class="flex justify-center">-->
<!--    <el-pagination-->
<!--      large-->
<!--      background-->
<!--      layout="prev, pager, next"-->
<!--      :total="50"-->
<!--      class="mt-4"-->
<!--      :current-page-->
<!--    />-->
<!--  </div>-->

</template>

<script setup lang="ts">
import { useStudentStore } from '~/stores/student'
import {storeToRefs} from 'pinia';

// 학생 데이터를 받아오기 위해 스토어의 getList 메서드를 호출
const store = useStudentStore();
const {getList} = store; // have all non reactiave stuff here
const {tableData} = storeToRefs(store); // have all reactive states here

// 학생 데이터를 가져와 테이블에 표시할 수 있도록 tableData를 업데이트
await getList().then(() => {
  console.log("성공")
}).catch(() => {
  console.log("실패")
});

const router = useRouter();
const getDetail = (id:string) => {
  router.push({
    path: `/personalinfo/${id}`,
  });
};

</script>
