<template>
  <div>
    <h2 class="text-2xl font-bold">시험 상세 답변</h2>
    <hr class="my-2 border dark:border-gray-700" />
  </div>
  <div class="test">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            수준
          </th>
          <th scope="col" class="px-6 py-3">
            5수준
          </th>
          <th scope="col" class="px-6 py-3">
            4수준
          </th>
          <th scope="col" class="px-6 py-3">
            3수준
          </th>
          <th scope="col" class="px-6 py-3">
            2수준
          </th>
          <th scope="col" class="px-6 py-3">
            1수준
          </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            점수구간
          </th>
          <td class="px-6 py-4">
            90점 이상
          </td>
          <td class="px-6 py-4">
            80-89점
          </td>
          <td class="px-6 py-4">
            70-79점
          </td>
          <td class="px-6 py-4">
            60-69점
          </td>
          <td class="px-6 py-4">
            60점 미만
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">문제</th>
      <th scope="col" class="px-6 py-3">답변</th>
      <th scope="col" class="px-6 py-3">점수</th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(item,index) in answerTestDetail.data.problem" key="item">
      <td class="px-6 py-4 bg-white " >{{item}}</td>
      <td class="px-6 py-4 bg-white" >{{answerTestDetail.data.testAnswer[index]}}</td>
      <td class="px-6 py-4 bg-white" > <input class="input-number" v-model="form.score[index]" style="width: 240px" placeholder="Please input" /></td>
    </tr>
    </tbody>
  </table>
  </div>


  <div class="flex m-5">

  </div>
<div>

  <div class="m-5">
    <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">교수자 총평</label>
    <input  v-model="form.teacherComment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
    focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
     ">
  </div>
  <div class="m-5">
    <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">성취수준</label>
    <input  v-model="form.achieveLevel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
    focus:border-blue-500 block w-1/2 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
     ">
  </div>
  <div class="m-5">
    <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">총점</label>
   <div class="border-black h-5 w-1/2 bg-white" >{{form.studentScore}}</div>
  </div>


  <div class="flex justify-center">
  <tw-button @click="postButton">채점</tw-button>
    <tw-button @click="setData"> 등록</tw-button>
  </div>
</div>
</template>


<script setup lang="ts">


import { reactive } from 'vue'
import {TwButton} from "vue3-tailwind";
import {useTestStore} from "~/stores/tesetinfo";
import {storeToRefs} from "pinia";
const testStore = useTestStore();
const {getAnswerDetailList} = testStore; // have all non reactiave stuff here
const {answerTestDetail} = storeToRefs(testStore);

import { ref } from 'vue'
const input = ref('')
await getAnswerDetailList('${id}').then(() => {
  console.log("성공")
  console.log(answerTestDetail,1)
}).catch(() => {
  console.log("실패")
  console.log(answerTestDetail,1)
});

const postButton = () => {
  const list = form.score// post 전에 값을 받아야하는 객체 id 를 넣어줘야한다
  let sum = 0;

  console.log(list[1])

  for(let i = 0; i < list.length; i++){
    sum += Number(list[i]);
  }

  form.studentScore = sum;
  console.log(form.studentScore)
}

const setData = () =>{
  const payload = {
    teacherComment: form.teacherComment,
    achieveLevel : form.achieveLevel,
    studentScore : form.studentScore
  };
  testStore.setAnswerTest(payload);
}

// do not use same name with ref
const form = reactive({
  score:[],
  name: '',
  teacherComment: '',
  achieveLevel: 5,
  delivery: false,
  type: [],
  studentScore: 0
})
</script>
<style>
.table-container{
  overflow-x: hidden;
  margin: 5px;
}
.test{
  margin: 5px;
}
</style>
