<!--모달 창 연습 페이지 -->
<template>
  <!-- Modal toggle -->
  <button
      @click="toggleModal"
      class="block text-white bg-pink-300 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg
      text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      type="button">
    취업지원카드
  </button>

  <!-- Main modal -->
  <div
      id="default-modal"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
  >
    <!-- Modal content 모달 창 내용 -->
    <div class="relative p-4 w-full max-w-5xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            취업지원카드
          </h3>
          <button
              @click="hideModal"
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          >
            <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
            >
              <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->


            <el-table :data="tableData" style="width: 100%" max-height="auto" >
              <el-table-column prop="이름" label="이름" width="100" />
              <el-table-column prop="성별" label="성별" width="100" />
              <el-table-column prop="전화번호" label="전화번호" width="150" />
              <el-table-column prop="집전화번호" label="전화번호" width="150" />
                <el-table-column prop="훈련별 과정" label="훈련별 과정" width="120" />
                <el-table-column prop="수료일" label="수료일" width="120" />
                <el-table-column prop="재적일" label="재적일" width="250" />

            </el-table>


          <el-table :data="tableData2" style="width: 100%" >

            <el-table-column prop="주소" label="주소" width="400" />
            <el-table-column prop="최종학력" label="최종학력" width="300" />
            <el-table-column prop="전공" label="전공" width="290" />

          </el-table>
        <el-table :data="tableData3" style="width: 100%" max-height="auto" >
          <el-table-column prop="경력사항" label="경력사항" width="200" />
          <el-table-column prop="보유자격증" label="보유자격증" width="200" />
          <el-table-column fixed="right" label="컴퓨터 능력" width="230">
            <template #default>
                <el-radio-group v-model="radio3" class="ml-4">
                    <el-radio value="1" size="small">상</el-radio>
                    <el-radio value="2" size="small">중</el-radio>
                    <el-radio value="3" size="small">하</el-radio>
                </el-radio-group>
            </template>
          </el-table-column>
          <el-table-column fixed="right" label="외국어 능력" width="230">
            <template #default>
                <el-radio-group v-model="radio2" class="ml-4">
                    <el-radio value="1" size="small">상</el-radio>
                    <el-radio value="2" size="small">중</el-radio>
                    <el-radio value="3" size="small">하</el-radio>
                </el-radio-group>
            </template>
          </el-table-column>
          <el-table-column prop="기타 내용추가" label="기타 내용추가" width="130" />

        </el-table>



        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button
              @click="hideModal"
              type="button"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            닫기
          </button>
          <button
              @click="hideModal"
              type="button"
              class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
          >
            Decline
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Modal } from 'flowbite';
import type { ModalOptions, ModalInterface } from 'flowbite';
import type { InstanceOptions } from 'flowbite';
import { ref, onMounted } from 'vue';

const modal = ref<ModalInterface | null>(null);

const modalOptions: ModalOptions = {
  placement: 'bottom-right',
  backdrop: 'dynamic',
  backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-40',
  closable: true,
  onHide: () => {
    console.log('modal is hidden');
  },
  onShow: () => {
    console.log('modal is shown');
  },
  onToggle: () => {
    console.log('modal has been toggled');
  },
};

const instanceOptions: InstanceOptions = {
  id: 'default-modal',
  override: true,

};

onMounted(() => {
  const $modalElement: HTMLElement | null = document.querySelector('#default-modal');
  if ($modalElement) {
    modal.value = new Modal($modalElement, modalOptions, instanceOptions);
  } else {
    console.error('Modal element with ID "default-modal" not found.');
  }
});

const toggleModal = () => {
  if (modal.value) {
    modal.value.toggle();
  } else {
    console.error('Modal instance not initialized.');
  }
};

const hideModal = () => {
  if (modal.value) {
    modal.value.hide();
  } else {
    console.error('Modal instance not initialized.');
  }
};
const handleClick = () => {
  console.log('click')
}
import { ref } from 'vue'

const radio1 = ref('1')
const radio2 = ref('1')
const radio3 = ref('1')
const tableData = [
  {
    이름: '임인영',
    성별: '여자',
    전화번호: '010-7544-0561',
    집전화번호:'031-000-0000',
    훈련과정: ' (디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A (디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',
    수료일: ' 2023-11-20 ~ 2024-05-14',
    재적일: '-',
  },


]
const tableData2 = [
  {
    주소:'경기도 시흥시 능곡동',
    최종학력:'ㅇㅇ대학교 졸업',
    전공:'경영학과'

  }
]
const  tableData3 = [
  {
    경력사항: '',
    보유자격증: '여자',
    외국어능력: '010-7544-0561',
    컴퓨터능력:'031-000-0000',
    기타내용추가: ' (디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A (디지털컨버전스)JAVA기반 스마트웹&앱 개발자 양성_A',

  }
]
</script>
