<template>
  <header>
    <ul>
      <li v-if="authenticated" class="loginBtn" style="float: right">
        <nuxt-link @click="logout">Logout</nuxt-link>
      </li>
    </ul>
  </header>
    <TwToast position="bottom-right" :toasts="toasts" />
    <div>
      <LayoutFloating />
      <LayoutHeader />
      <div class="py-4 px-0 md:px-1">
<!--        배경과 배경이 만나서 삐져나온 컬러 수정한 곳 -->
        <div class="flex min-h-screen text-sky-900 dark:text-gray-200 bg-opacity-40 bg-gray-100 rounded-3xl shadow-lg">
          <LayoutSidebar class="h-full" />
          <div class="w-full md:w-[calc(100%-8rem)] lg:w-[calc(100%-16rem)] sm:rounded-l-none">
            <div class="p-4 bg-gray-100 dark:bg-gray-900 h-full rounded-3xl">
              <slot />
            </div>
          </div>
        </div>
        <div class="px-6 md:px-11">
<!--          요소의 불투명도 ,, opacity -->
          <div
            class="w-full bg-gray-200 shadow-xl bg-opacity-60 rounded-b-2xl h-4"
          ></div>
        </div>
      </div>
      <div
        class="text-center flex items-center gap-1 justify-center text-black ">
        © Copyright LINE COMPUTER ART ACADEMY
        <TwFeather class="text-red-500" type="heart" /> By
        <a
          class="text-blue-950"
          href="http://linecomputerart.com/index.html"
          target="_blank"
        >
          라인컴퓨터아트학원
        </a>
      </div>
    </div>

</template>
<script setup lang="ts">
import { useToast, TwFeather, TwToast } from "vue3-tailwind";
const { toasts } = useToast();
const cookieDark = useCookie('dark-mode')

import { storeToRefs } from 'pinia'; // import storeToRefs helper hook from pinia
import { useAuthStore } from '~/stores/auth'; // import the auth store we just created

const router = useRouter();


const { logUserOut } = useAuthStore(); // use authenticateUser action from  auth store
const { authenticated } = storeToRefs(useAuthStore()); // make authenticated state reactive with storeToRefs
const logout = () => {
  logUserOut();
  router.push('/login');
};

</script>
