<template>
  <div>
    <h1 class="text-3xl font-bold"> 상담 상세보기</h1>
    <hr class="my-3 border dark:border-black text-black"/>
    <div class="flex justify-center m-1 p-1.5 ">

      <div class="w-full  p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-3">
          <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">상담 상세보기 </h5>
        </div>
        <div class="flow-root">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">
                </div>
                <div v-if="adviceDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      학생이름
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{adviceDetail.data.studentName}}
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="adviceDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      상담제목
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{adviceDetail.data.adviceTitle}}
                    </p>
                  </div>
                </div>

              </div>
            </li>
            <li class="py-3 sm:py-4">
              <div class="flex items-center">
                <div class="flex-shrink-0">

                </div>
                <div v-if="adviceDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      상담일자
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{adviceDetail.data.dateAdvice}}
                    </p>
                  </div>
                </div>

              </div>
            </li>

            <li class="py-3 sm:py-4">
              <div class="flex items-center ">
                <div class="flex-shrink-0">

                </div>
                <div v-if="adviceDetail">
                  <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                      상담내용
                    </p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                      {{adviceDetail.data.adviceContent}}
                    </p>
                  </div>
                </div>

              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</template>

<script setup lang="ts">
import {useAdviceStore} from "~/stores/adviceManagement";
import {storeToRefs} from "pinia";
const store = useAdviceStore();
const {getDetail} = store;
const {adviceDetail} = storeToRefs(store);

const adviceStore = useAdviceStore();

await getDetail('${id}').then(() => {
  console.log("성공")
  console.log(getDetail,1)
}).catch(() => {
  console.log("실패")
  console.log(getDetail,1)
});
</script>
